
@{
    ViewData["Title"] = "Classes";
    Layout = "_LayoutStudio";
}

@model ClassStudentVM

<link href="~/css/ThemeJQueryGrid/jquery-ui.min.css" rel="stylesheet" />
<link href="~/css/ui.jqgrid.css" rel="stylesheet" />
<link href="~/css/Class.css" rel="stylesheet" />

<form id="formClasses" method="post" class="mediumForm">
    <div class="card-body">
        <div class="form-row mb-2">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="Genre">Genre: </label>
                    <input asp-for="Genre" type="text" class="form-control form-control-plaintext w-75" id="Genre" placeholder="Genre">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="Level">Level: </label>
                    <input asp-for="Level" type="text" class="form-control form-control-plaintext w-75" id="Level" placeholder="Level">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="ClassType">ClassType: </label>
                    <input asp-for="ClassType" type="text" class="form-control form-control-plaintext w-75" id="ClassType" placeholder="ClassType">
                </div>
            </div>
        </div>
        <div id="success" style="color:red"></div>
        <div class="form-row">
            <button asp-controller="Studio" asp-action="GetStudents" type="submit" id="SearchClasses" class="btn btn-secondary w-25 h-25 mt-4">Search class</button>
            <button type="button" id="addNew" class="btn btn-secondary w-25 h-25 mt-4 ml-3" data-toggle="modal" data-target="#classesModal">Add New</button>
        </div>
        <label id="classError">@ViewBag.classError</label>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>
</form>


<!-- Modal -->
<form method="post" asp-controller="Studio" asp-action="AddNewClass">
    <div class="modal fade " id="classesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title ml-5 mt-4" id="exampleModalLabel">Add new class</h5>
                    <img src="~/Pictures/danceClass.jpg" alt="danceClass" class="ml-4" width="70" height="70" />
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input asp-for="Genre" type="text" class="modal-input " id="Genre" placeholder="Genre">
                    <select class="browser-default custom-select modal-input" name="Level">
                        <option>Level</option>
                        <option value="beginners">beginners</option>
                        <option value="intermidiate">intermidiate</option>
                        <option value="veterans">veterans</option>
                        <option value="professionals">professionals</option>
                    </select>
                    <input asp-for="PricePerHour" type="number" class="modal-input " id="PricePerHour" placeholder="PricePerHour" value="">
                    <select class="browser-default custom-select modal-input" name="ClassType">
                        <option>Class type</option>
                        <option value="private">private</option>
                        <option value="group">group</option>
                    </select>
                    <h6 class="label label-default">Select shedule Days</h6>
                    <select asp-for="SheduleDays" class="modal-input h-auto" multiple="multiple" name="SheduleDays[]">
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                        <option value="Saturday">Saturday</option>
                        <option value="Sunday">Sunday</option>
                    </select>

                    <input asp-for="Hour" type="text" class="modal-input " id="Hour" placeholder="Hour" value="">

                    <h6 class="label label-default">Select students </h6>
                    <select asp-for="Students" asp-items="@Model.Students" class="modal-input h-auto" multiple="multiple" name="StudentsIds[]"></select>

                    <h6 class="label label-default">Select instructor/s</h6>
                    <select asp-for="Instructors" asp-items="@Model.Instructors" class="modal-input h-auto" multiple="multiple" name="InstructorsIds[]"></select>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/jqGrid/grid.locale-en.js"></script>
    <script src="~/js/jqGrid/jquery.jqGrid.js"></script>
    <script src="~/js/Class.js"></script>
}
