
@{
    ViewData["Title"] = "Teachers";
    Layout = "_LayoutStudio";
}

@model Instructor

<link href="~/css/ThemeJQueryGrid/jquery-ui.min.css" rel="stylesheet" />
<link href="~/css/ui.jqgrid.css" rel="stylesheet" />
<link href="~/css/Students.css" rel="stylesheet" />

<form id="formStudents" method="post" class="mediumForm">
    <div class="card-body">
        <div class="form-row mb-2">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="Firstname">Firstname: </label>
                    <input asp-for="Firstname" type="text" class="form-control form-control-plaintext w-75" id="Firstname" placeholder="firstname">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="Lastname">Lastname: </label>
                    <input asp-for="Lastname" type="text" class="form-control form-control-plaintext w-75" id="Lastname" placeholder="lastname">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="Email">Email: </label>
                    <input asp-for="Email" type="text" class="form-control form-control-plaintext w-75" placeholder="email">
                </div>
            </div>
        </div>
        <div class="form-row mb-3">
            <button asp-controller="Studio" asp-action="GetInstructors" type="submit" id="SearchInstructor" class="btn btn-secondary w-25 h-25 mt-4">Submit</button>
            <button type="button" id="addNew" class="btn btn-secondary mt-4 mr-2" data-toggle="modal" data-target="#instructorsModal">Add New</button>
        </div>
        <div id="success" style="color:red"></div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>
</form>


<!-- Modal -->
<form method="post">
    <div class="modal fade" id="instructorsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title ml-3 mt-3" id="exampleModalLabel">Add new instructor</h5>
                    <img src="~/Pictures/salsaFace.jpg" alt="instructor" class="ml-4" width="70" height="70" />
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Firstname" type="text" class="modal-input " id="Firstname" placeholder="Firstname">
                    <input asp-for="Lastname" type="text" class="modal-input " id="Lastname" placeholder="Lastname">
                    <input asp-for="Email" type="text" class="modal-input " id="Email2" placeholder="Email">
                    <p id='result'></p>
                    <input asp-for="procentOfProfit" type="number" class="modal-input " id="procentOfProfit" placeholder="Procent of profit" value="">
                    <input asp-for="DateOfBirth" type="datetime-local" class="datepicker modal-input" id="DateOfBirth" placeholder="DateOfBirth">
                    <input asp-for="CellPhone" type="text" class="modal-input " id="CellPhone" placeholder="CellPhone">
                    <select class="browser-default custom-select modal-input" name="Gender">
                        <option>Gender</option>
                        <option value="female">female</option>
                        <option value="male">male</option>
                    </select>
                    <div class="form-group">
                        <label for="SendEmail">SendEmail: </label>
                        <input asp-for="SendEmail" type="checkbox" id="SendEmail" placeholder="SendEmail">
                        <label id="labelForEmail">Check SendEmail if instructor wants to receive email when class starts!</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button asp-controller="Studio" asp-action="AddNewInstructor" type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/jqGrid/grid.locale-en.js"></script>
    <script src="~/js/jqGrid/jquery.jqGrid.js"></script>
    <script src="~/js/Instructors.js"></script>
}

