
@{
    ViewData["Title"] = "Profit Report";
    Layout = "_LayoutStudio";

}

@*<form id="formProfitReport" method="post" class="mediumForm">
    <div class="card-body">
        <div class="form-row mb-2">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="Genre">Genre: </label>
                    <input asp-for="Genre" type="text" class="form-control form-control-plaintext w-75" id="Genre" placeholder="Genre">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="Level">Level: </label>
                    <input asp-for="Level" type="text" class="form-control form-control-plaintext w-75" id="Level" placeholder="Level">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="ClassType">ClassType: </label>
                    <input asp-for="ClassType" type="text" class="form-control form-control-plaintext w-75" id="ClassType" placeholder="ClassType">
                </div>
            </div>
        </div>
        <label id="classError">@ViewBag.classError</label>
        <div class="form-row mb-3">
            <button type="button" id="addNew" class="btn btn-secondary mt-4 mr-2" data-toggle="modal" data-target="#classesModal">Add New</button>
            <button asp-controller="Studio" asp-action="GetStudents" type="submit" id="Submit" class="btn btn-secondary w-25 h-25 mt-4">Submit</button>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>
</form>*@