
@{
    ViewData["Title"] = "Students";
    Layout = "_LayoutStudio";
}

@model List<Student>;

<link href="~/css/ThemeJQueryGrid/jquery-ui.min.css" rel="stylesheet" />
<link href="~/css/ui.jqgrid.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="~/js/jqGrid/grid.locale-en.js"></script>
<script src="~/js/jqGrid/jquery.jqGrid.js"></script>


<table id="jqGrid"></table>
<div id="jqGridPager"></div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
    $(function () {
        $grid = $("jqGrid").jqGrid({
            url: '@Url.Action("Studio/GetStudents")',
            mtype: 'GET',
            datatype: 'json',
            colModel: [
                { name: 'Firstname', index: 'Firstname', width: 55 },
                { name: 'Lastname', index: 'Lastname', width: 95 },
                { name: 'Email', index: 'Email', width: 300 },
                { name: 'CellPhone', index: 'CellPhone', width: 400, sortable: false },
                { name: 'Gender', index: 'Gender', width: 400, sortable: false }
            ],
            loadonce: true
        });

    });
    </script>
}