
#addNew {
    width: 300px;
    margin-top: 30px;
}

#labelForStudents {
    color: black;
    font-weight: 600;
    float: left;
}

#classError {
    color: red;
    height: 10px;
}

#Firstname,
#Lastname,
#Email,
#Genre,
#Level,
#ClassType {
    background-color: white;
}

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 400px;
    height: 100%;
    background-color: white;
    text-align: center;
}


.modal-input {
    width: 300px;
    height: 8%;
    display: block;
    margin: 15px auto;
    border: 1px solid;
    border-color: rgba(160,160,160, 0.3);
    border-radius: 6px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    padding-left: 5px;
}

#labelForEmail {
    color: rgba(0, 0, 0, 0.7);
    font-size: small;
}

.btn-primary {
    background-color: rgb(219,112,147) !important;
}
.pointer {
    cursor: pointer;
}

div.table-wrapper-scroll-y {
    overflow: hidden;
    overflow-y: scroll;
    height: 100px;
}

#StudentsTable tr, #InstructorTable tr {
    line-height: 5px;
    height: 5px;
}