
@{
    ViewData["Title"] = "About";
}

<img src="~/images/About.jpg" width="300" height="500" align="right" alt="about_dance">
<div id="info" class="m-1">
    <p class="mt-5">
        From decates dancing has been a part of the human lives.<br />
        Through dance we can share comunication and emotions with each other.
    </p>
    <p>In 21st century almost everything is replaced by a software or digital technology that provides an easy way to manage things.<p>
    <p>Dance studio manager was created to provide to dancers or managers a better way to mantain their studios.<p>
    <p>With this software you can easily follow the growing of the place that you rule <br />or just make a daily review on your classes, students and teachers.<p>
</div>


