@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>This privacy policy will explain how our organization uses the personal data we collect from you when you use our website.</p>
<h5>What data do we collect ?</h5>
<p>
    This website collects the following data:<br>
    • Personal identification information (Name, email address).<br />
    • Personal image (not obligatory).
</p>
<h5> How do we collect your data ?</h5>
<p> We collect and process data when you: </p>
<p>
    • Register online. <br />
    • Use or view our website via your browser's cookies.
    • Change your image in the user profile. 
</p>
<h5> How we will use your data ?</h5>
<p>
    • Send you an email for register confirmation.<br />
    • Manage your account. 
</p>
<h5>What are your data protection rights ?</h5>
<p>Every user is entitled to the following:</p>
<p>
    <a style="font-weight: bold">• The right to access - </a> You have the right to request for copies of your personal data. <br />
    <a style="font-weight: bold">• The right to rectification - </a> You have the right to request that your information is inaccurate. You also have the right to request your information to be completed if it is not. <br />
    <a style="font-weight: bold">• The right to erasure - </a> You have the right to request to erase your personal data. 
</p>

<p>If you make a request, we have one month to respond to you. If you would like to exercise any of those rights, please contact us on our email: dancestudiomanager2019@gmail.com  </p>