
@{
    ViewData["Title"] = "Register/Login";
}
@model User

<link href="~/css/RegisterLogin.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="~/js/RegisterLogin.js"></script>


<div class="login-reg-panel">
    <div class="login-info-box">
        <h2>Have an account?</h2>
        <label id="label-register" for="log-reg-show">Login</label>
        <input type="radio" name="active-log-panel" id="log-reg-show" >
    </div>

    <div class="register-info-box">
        <h2 id="d">Don't have an account?</h2>
        <label id="label-login" for="log-login-show">Register</label>
        <input type="radio" name="active-log-panel" id="log-login-show" checked="checked">
    </div>
    <div class="white-panel">
        <form method="post">
            <div class="register-show">
                <div asp-validation-summary="All" class="text-danger"></div>

                <h2>REGISTER</h2>
                <input asp-for="Username" type="text" placeholder="Username">
                <span asp-validation-for="Username" class="text-danger"></span>

                <input asp-for="Email" type="text" placeholder="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
                <h6 id='result'></h6>

                <input asp-for="Password" type="password" placeholder="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
                <h6 id='passRes'></h6>

                <input asp-for="ConfirmPassword" type="password" placeholder="Confirm Password">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                <h6 id='confPassRes'></h6>

                <input asp-for="StudioName" type="text" placeholder="Studio name">
                <span asp-validation-for="StudioName" class="text-danger"></span>

                <input asp-controller="Account" asp-action="Register" type="submit" value="Register">
            </div>
        </form>
        <form method="post">
            <div class="login-show">
                <h2>LOGIN</h2>
                <input asp-for="Email" type="text" id="loginEmail" placeholder="Email">
                <span asp-validation-for="Email" class="text-danger"></span>

                <input asp-for="Password" id="loginPass" type="password" placeholder="Password">
                <span asp-validation-for="Password" class="text-danger"></span>

                <input asp-controller="Account" asp-action="Login" type="submit" value="Login">
                <a href="">Forgot password?</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}