
@{
    ViewData["Title"] = "Register/Login";
}
@model User

<script src="~/assets/js/core/jquery.min.js"></script>

@if (ViewBag.register == true)
{
    <script integrity="" src="~/js/Register.js"></script>
    <link href="~/css/Register.css" rel="stylesheet" />
}
else if (ViewBag.login == true)
{
    <script integrity="" src="~/js/Login.js"></script>
    <link href="~/css/Login.css" rel="stylesheet" />
}


<div class="login-reg-panel">
    <div class="login-info-box">
        <h2 id="loginText">Have an account?</h2>
        <label id="label-register" for="log-reg-show">Login</label>
        <input type="radio" name="active-log-panel" id="log-reg-show">
    </div>

    <div class="register-info-box">
        <h2 id="d">Don't have an account?</h2>
        <label id="label-login" for="log-login-show">Register</label>
        <input type="radio" name="active-log-panel" id="log-login-show">
    </div>
    <div class="white-panel">
        <form method="post">
            <div class="register-show">
                <div asp-validation-summary="All" class="text-danger"></div>
                <h2>REGISTER</h2>
                <input asp-for="Username" type="text" placeholder="Username">

                <input asp-for="Email" type="text" placeholder="Email">
                <h6 id='result'></h6>

                <input asp-for="Password" type="password" placeholder="Password">
                <h6 id='passRes'></h6>

                <input asp-for="ConfirmPassword" type="password" placeholder="Confirm Password">
                <h6 id='confPassRes'></h6>

                <input asp-for="StudioName" type="text" placeholder="Studio name">

                <input asp-controller="Account" asp-action="Register" type="submit" value="Register">
            </div>
        </form>
        <form method="post">
            <div class="login-show">
                <div asp-validation-summary="All" class="text-danger"></div>
                <h2>LOGIN</h2>
                <input asp-for="Email" type="text" id="loginEmail" placeholder="Email">

                <input asp-for="Password" id="loginPass" type="password" placeholder="Password">

                <input asp-controller="Account" asp-action="Login" type="submit" value="Login">
                <a asp-controller="Account" asp-action="ForgotPassword">Forgot password?</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}